cryptography==45.0.5
dnspython==2.7.0
joblib==1.5.1
numpy==2.2.4
oqs==0.12.0 # Only if requested after Liboqs intall
piexif==1.1.3
Pillow==11.3.0
pycryptodome==3.23.0
pqcrypto==0.3.4
PySide6==6.9.1
PySide6-Addons==6.9.1
PySide6-Essentials==6.9.1
PySocks==1.7.1
PyQt5-WebEngine==5.15
requests==2.32.4
scikit-learn==1.6.1
shiboken6==6.9.1
requests==2.32.4
matplotlib==3.10.3
pynacl==1.5.0
psutil==7.0.0
httpx==0.28.1
aiohttp==3.12.14
aiohttp_socks==0.10.1
beautifulsoup4==4.13.4
requests==2.32.4
stem==1.8.2
tls-client==1.0.1

# Install the Python wrapper that matches your native liboqs version
liboqs-python==0.12.0  # or rename liboqs-python version to 0.13.0 with nano pyproject.toml - your liboqs-python location only if you install liboqs 0.13.0
